/* Resetowanie marginesów i paddingu */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f9;
}

.container {
    width: 100%;
    max-width: 600px;
    background-color: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 2rem;
    color: #333;
}

form {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

input[type="text"] {
    flex: 1;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1rem;
}

button {
    padding: 12px 20px;
    border: none;
    background-color: #4caf50;
    color: white;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    align-items: center;  /* Wycentrowanie elementów w pionie */
    justify-content: space-between;
    margin: 15px 0;
    padding: 10px 15px;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s;
}

li:hover {
    transform: translateY(-3px);
}

li form {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

input[type="checkbox"] {
    width: 18px;
    height: 18px;
    margin: 0;  /* Usunięcie domyślnego marginesu */
    vertical-align: middle;  /* Środkowanie checkboxa */
    position: relative;
    top: 7px;  /* Delikatne obniżenie checkboxa */
    cursor: pointer;
}

li span {
    flex-grow: 1;
    margin-left: 15px;
    text-align: left;
    font-size: 1rem;
    color: #333;
    line-height: 1.5;  /* Dopasowanie wysokości linii do checkboxa */
}

.completed {
    text-decoration: line-through;
    color: #bbb;
}

a {
    color: #e63946;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
}

a:hover {
    text-decoration: underline;
}

.priority {
    font-size: 0.9rem;
    font-weight: bold;
    margin-left: 10px;
    padding: 2px 6px;
    border-radius: 4px;
    color: white;
}

.priority.low {
    background-color: #4caf50; /* Zielony */
}

.priority.medium {
    background-color: #ff9800; /* Pomarańczowy */
}

.priority.high {
    background-color: #f44336; /* Czerwony */
}
